@model Shoop.Models.Movie

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Director)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Director)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieImageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IMDBUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IMDBUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusFlag)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
