@{
    ViewBag.Title = "SHOOP";
}
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link href="~/Content/bootstrap-shoop.css" rel="stylesheet" />
    <link href="~/Content/ShoopStyle.css" rel="stylesheet" />
    
   
</head>
<body>

    @*<div class="jumbotron">
            <h1>ASP.NET</h1>
            <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>*@
    @******************************************@
    @*Removed default content from the normal homepage*@
    @******************************************@

    @*<div class="row">
            <div class="col-md-4">
                <h2>Getting started</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>*@

    <div>
        <br />
        <table>

            <tr>
                <td padding-right="10px">
                    <img height="218px" src="~/Content/MovPic/ABeautifulMindF.jpg" />
                </td>
                <td padding-right="5px">
                    <img height="218px" src="~/Content/MovPic/CrashF.jpg" />
                </td>
                <td>
                    <img height="218px" src="~/Content/MovPic/GoodfellasF.jpg" />
                </td>
                <td>
                    <img height="218px" src="~/Content/MovPic/TheGodfatherF.jpg" />
                </td>
                <td>
                    <img height="218px" src="~/Content/MovPic/IlPostinoF.jpg" />
                </td>
                <td>
                    <img height="218px" src="~/Content/MovPic/RanF.jpg" />
                </td>
            </tr>


        </table>

    </div>



    Home/

    Index.cshtl



    @model Shoop.Models.FirstPageViewModels



    @{

        ViewBag.Title = "Home Page";

    }



    @*<p>

            @Html.ActionLink("All Movies", "Movies")

        </p>*@





    <h2>Our Most Popular Movies</h2>

    @*To pass an individual movie object from the list use this*@

    @*@foreach (var movie in Model.MovieListMostPopular)

        {

            @Html.Partial("_MoviePartial", movie)

        }*@



    @Html.Partial("_MoviesPartial", Model.MovieListMostPopular)



    <h2>Our Most Recent Movies</h2>



    @Html.Partial("_MoviesPartial", Model.MovieListMostRecent)





    <h2>Our Oldest Movies</h2>



    @Html.Partial("_MoviesPartial", Model.MovieListOldest)



    <h2>Our Cheapest Movies</h2>



    @Html.Partial("_MoviesPartial", Model.MovieListCheapest)



    <h2>Recently Bought Movies</h2>



    @Html.Partial("_MoviesPartial", Model.MovieListRecentlyBought)









