@model Shoop.Models.FirstPageViewModels

@{
    ViewBag.Title = "Home Page";
}

@*<p>
        @Html.ActionLink("All Movies", "Movies")
    </p>*@


<p>@Html.ActionLink("Your data", "CustomerDetails", "Customers")</p>

<h2>Our Most Popular Movies</h2>
@*To pass an individual movie object from the list use this*@
@*@foreach (var movie in Model.MovieListMostPopular)
    {
        @Html.Partial("_MoviePartial", movie)
    }*@

@Html.Partial("_MoviesPartial", Model.MovieListMostPopular)

<h2>Our Most Recent Movies</h2>

@Html.Partial("_MoviesPartial", Model.MovieListMostRecent)


<h2>Our Oldest Movies</h2>

@Html.Partial("_MoviesPartial", Model.MovieListOldest)

<h2>Our Cheapest Movies</h2>

@Html.Partial("_MoviesPartial", Model.MovieListCheapest)

<h2>Recently Bought Movies</h2>

@Html.Partial("_MoviesPartial", Model.MovieListRecentlyBought)







