@model Shoop.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>
@*Details view to show IMDB information and add to ShoopCart button*@
<div>
    <hr />
    
        @Html.Partial("_ImdbDetail")
   

        <dt>
            @Html.DisplayNameFor(model => model.IMDBUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IMDBUrl)
        </dd>

        

    
</div>
<p>
    @*Comment away edit option for the moment*@
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
