@model IEnumerable<Shoop.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>Movies</h2>

@*Remove Link to create movies*@
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            Movie
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Director)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        @*Remove fields MovieImageUrl, IMDBUrl and StatusFlag from view*@
        @*<th>
            @Html.DisplayNameFor(model => model.MovieImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IMDBUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusFlag)
        </th>
        <th></th>*@
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            <img src="@Html.DisplayFor(modelItem => item.MovieImageUrl)" class="img-thumbnail" alt="@Html.DisplayFor(modelItem => item.Title)">
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Director)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>

        @*Remove fields MovieImageUrl, IMDBUrl and StatusFlag from view*@
        @*<td>
            @Html.DisplayFor(modelItem => item.MovieImageUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IMDBUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusFlag)
        </td>*@

        @*Remove options to edit*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @*@Html.ActionLink("Details", "Details", new { id = item.Id })*@
            <a class="btn btn-primary" href="@item.IMDBUrl" target="popup" onclick="window.open('@item.IMDBUrl', 'popup', 'width:600px,height:600px');return false">Imdb</a>
            @*Code from Robert*@
             @*@Html.ActionLink("Add to Cart","AddtoCart","Order",new{ id = item.Id,returnAction="DisplayMovies",returnController="Movie"},new {@class = "btn btn-primary btn-large btn-addtocart"})*@
            
            @*@Html.ActionLink("Add", "ShoppingCart", new { id = item.Id }), new { id = item.Id, returnAction = "DisplayMovies", returnController = "Movie" }, new { @class = "btn btn-primary btn-large btn-addtocart" }) )*@
            
            
            @*<a class="btn btn-primary" href=@Html.ActionLink("Add to Cart","Add", "ShoppingCart", new { id=item.Id } )*@

            <a class="btn btn-primary" href="/ShoopCart/Add?id=@item.Id">Add to Cart</a>


            @*<button id="btnaddtocart" class="btn btn-primary" onclick="location.href='@Url.Action("Add", "ShoppingCart")'", new { id = item.Id }>Add to Cart</button>*@
            @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
        </td>
    </tr>
    }

</table>
