@model IEnumerable<Shoop.Models.Movie>

@{
    ViewBag.Title = "Index";
}

@*Views-Movies-Index*@

<div class="row col-md-12 justify-content-around" style="margin-top:10px">

    <div class="row justify-content-center" style="align-content:flex-start;  margin-left:70px; margin-right:40px">

        @foreach (var item in Model)
        {
            <div class="card border-primary mb-3 mx-3" style="max-width: 14.8rem;">
                <div class="card-header">@Html.DisplayFor(modelItem => item.Title)</div>
                <div class="card-body">

                    <table>
                        <tr>
                            <td>
                                <img src="@Html.DisplayFor(modelItem => item.MovieImageUrl)" class="img-thumbnail" alt="@Html.DisplayFor(modelItem => item.Title)" />

                        </tr>

                        @*<tr><td style="font-size:0.9em;"><b>Title:</b></td></tr>*@
                        <tr><td style="font-size:0.9em"><b>@Html.DisplayFor(modelItem => item.Title)</b></td></tr>
                        <tr><td style="font-size:0.9em;"><b>Director:</b> @Html.DisplayFor(modelItem => item.Director)</td></tr>
                        <tr><td style="font-size:0.9em;"><b>Release Year:</b> @Html.DisplayFor(modelItem => item.ReleaseYear)</td></tr>
                        <tr><td style="font-size:0.9em;padding-bottom:10px"><b>Price:</b> @Html.DisplayFor(modelItem => item.Price)</td></tr>

                        <tr>

                            <td style="vertical-align:bottom">
                                @*<button type="button" class="btn btn-primary btn-sm">@Html.ActionLink("IMDb", "Details", new { id = item.Id })</button>*@
                                @*<a button type="button" class="btn btn-primary btn-sm" href="@item.IMDBUrl" target="popup" onclick="window.open('@item.IMDBUrl', 'popup', 'width:600px,height:600px');return false">Imdb</a>*@
                                <button class="btn btn-primary btn-sm" href="@item.IMDBUrl" target="popup" onclick="window.open('@item.IMDBUrl', 'popup', 'width:600px,height:600px');return false">IMDb</button>
                                <a type="button" class="btn btn-primary btn-sm" style="vertical-align:bottom">Add to Shoopingcart</a>
                            </td>

                        </tr>



                    </table>

                </div>
            </div>
            @*<p>&nbsp;</p>*@
        }

    </div>
</div>



